.container {
  margin: 30px;
  padding: 20px;
  width: 400px;

  background-color: beige;
  border-radius: 6px;
}

button {
  padding: 6px 16px;

  &:not(last-child) {
    margin-right: 10px;
  }
}

ul {
  list-style-type: none;
}

.list__button {
  display: flex;
}
